.Product{
        width: 77%;
        float: right;
    
        background-color:#e9ebee;
        padding-bottom: 15px;
}
.tableProducts{
        display: flex;
        padding: 0px 15px;
}
.Product h1{
        padding: 35px 0px 0px 15px;
}
.thongtinsp1{
        width: 4%;
        text-align: center;
        border: 1px solid gray;  padding-top: 10px;
}
.thongtinsp3{
        width: 10%;
        text-align: center;
        border: 1px solid gray;
        padding-top: 10px;
}
.thongtinsp4{
        width: 5%;
        text-align: center;
        border: 1px solid gray;
        padding-top: 10px;
}
.thongtinsp{
        width: 45%;
        text-align: center;
        border: 1px solid gray;
        padding-top: 10px;
}
.thongtinsp2{
        width: 20%;
        text-align: center;
        border: 1px solid gray;
        padding-top: 10px;
}
.thongtinsp2 img{
        width: 100%;
        
}
#xoasp:hover{
        text-decoration: underline;
        color: red;
        cursor: pointer;
}
.Thongbaoxoa{
        background-color: rgb(119, 110, 110);
        width: 100%;
        height: 650px;
        position: fixed;
        opacity: 0.7;z-index: 4;
        display: none;
}
.Noidungtb{
        opacity: 1;
        background-color: white;
        z-index: 5;
        position: fixed;
        top:40%;
        left:40%;
        text-align: center;
        border-radius: 5px;
        padding: 2%;
        display: none;
        
}
.Noidungtb input{
        margin-right: 15px;
        padding: 5px;
        border: 1px solid rgb(202, 202, 202);
        background-color: rgb(240, 238, 238);
        font-size: 14px;
}
@media only all and (max-width:1280px) and (min-width:1024px){
        .tableProducts {
                padding: 0px 2px;
            }
       .thongtinsp1,.thongtinsp3,.thongtinsp4,.thongtinsp2,.thongtinsp{
               font-size: 14px;
       }
    }
    @media only all and (max-width:1024px) and (min-width:768px){
        .tableProducts {
                padding: 0px 2px;
            }
       .thongtinsp1,.thongtinsp3,.thongtinsp4,.thongtinsp2,.thongtinsp{
               font-size: 14px;
       }
       .Product {
        width: 75%;

    }
    .thongtinsp2 img {
        width: 89%;
    }

    }
    @media only all and (max-width:768px) and (min-width:675px){
        .Product {
                width: 100%;
        
            }
    }
    @media only all and (max-width:675px) and (min-width:480px){
        .Product {
                width: 100%;
        
            } 
            .tableProducts {
                padding: 0px 2px;
            }
       .thongtinsp1,.thongtinsp3,.thongtinsp4,.thongtinsp2,.thongtinsp{
               font-size: 13px;
       }
    }
    @media only all and (max-width:480px) and (min-width:320px){
        .Product {
                width: 100%;
        
            } 
            .tableProducts {
                padding: 0px 2px;
            }
       .thongtinsp1,.thongtinsp3,.thongtinsp4,.thongtinsp2,.thongtinsp{
               font-size: 11px;
       } 
    }