.headerlist{
    padding :0px 20px 20px 0px;
    height: 66px;
}

.choosemade{
    background-color: #e9ebee;padding: 0px 50px 0px 50px;
}
.wapperlisst{
    background-color: #e9ebee;
}
#anh2{
    width: 465px;
}
.gridContainer1{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    box-sizing: border-box;
    padding: 20px 50px;
    width: 100%;
}
.Item1{
    border: 1px solid red;
    box-sizing: border-box;
    padding: 15px 0px; background-color: white;
    text-align: center;
    cursor: pointer;
    
}
.Item1 p{
    font-weight: bold;
    font-size: 18px;
}
.wapperanh{
    display: flex;
    padding: 10px 50px;
}
.Grip-Item img{
    height: 250px;
    padding-top: 10px;
}
.Grip-Item img:hover{
    padding-bottom: 10px;
    padding-top: 0px;
}
@media only all and (max-width:1280px) and (min-width:1024px){
    .wapperlisst{
        width: 100%;
    }
    .choosemade {
     
        padding: 0px 40px 0px 40px;
    }
    .headerlist {
        padding: 0px 20px 0px 0px;
        height: 56px;
    }
    .wapperanh {
        display: flex;
        padding: 10px 40px;
    }
    #anh2 {
       
        width: 40%;
    }
    #anh1{
        width: 60%;
    }
    .gridContainer1 {
        display: grid;
        grid-template-columns: auto auto auto auto;
        
        padding: 5px 40px 15px 40px;
       
    }
    .Item1 p {
        margin: 5px;
        font-weight: bold;
        font-size: 20px;
    }
    .Grip-Item img {
        height: 220px;
        
    }
}
@media only all and (max-width:1024px) and (min-width:768px){
    .wapperlisst{
        width: 100%;
    }
    .choosemade {
     
        padding: 0px 0px 0px 0px;
    }
    .headerlist {
        padding: 0px 20px 0px 0px;
        height: 56px;
    }
    .wapperanh {
        display: flex;
        padding: 10px 5px;
    }
    #anh2 {
       
        width: 40%;
    }
    #anh1{
        width: 60%;
    }
    .gridContainer1 {
        display: grid;
        grid-template-columns: auto auto auto auto;
        
        padding: 5px 5px 15px 5px;
       
    }
    .Item1 p {
        margin: 5px;
        font-weight: bold;
        font-size: 17px;
    }
    .Grip-Item img {
        height: 185px;
        
    }
}
@media only all and (max-width:768px) and (min-width:675px){
    .wapperlisst{
        width: 100%;
    }
    .choosemade {
     
        padding: 0px 0px 0px 0px;
    }
    .headerlist {
        padding: 0px 20px 0px 0px;
        height: 56px;
    }
    .wapperanh {
        display: flex;
        padding: 10px 5px;
    }
    #anh2 {
       
        width: 40%;
    }
    #anh1{
        width: 60%;
    }
    .gridContainer1 {
        display: grid;
        grid-template-columns: auto auto auto;
        
        padding: 5px 5px 15px 5px;
       
    }
    .Item1 p {
        margin: 5px;
        font-weight: bold;
        font-size: 17px;
    }
    .Grip-Item img {
        height: 170px;
        
    }
}
@media only all and (max-width:675px) and (min-width:480px){
    .wapperlisst{
        width: 100%;
    }
    .choosemade {
     
        padding: 0px 0px 0px 0px;
    }
    .headerlist {
        padding: 0px 20px 0px 0px;
        height: 56px;
    }
    .wapperanh {
        display: flex;
        padding: 10px 5px;
    }
    #anh2 {
       
        width: 40%;
    }
    #anh1{
        width: 60%;
    }
    .gridContainer1 {
        display: grid;
        grid-template-columns: auto auto auto;
        
        padding: 5px 5px 15px 5px;
       
    }
    .Item1 p {
        margin: 5px;
        font-weight: bold;
        font-size: 13px;
    }
    .Grip-Item img {
        height: 145px;
        
    }
}
@media only all and (max-width:480px){
    .wapperlisst{
        width: 100%;
    }
    .choosemade {
     
        padding: 0px 0px 0px 0px;
    }
    .headerlist {
        padding: 0px 20px 0px 0px;
        height: 56px;
    }
    .wapperanh {
        display: flex;
        padding: 10px 5px;
    }
    #anh2 {
       
        width: 40%;
    }
    #anh1{
        width: 60%;
    }
    .gridContainer1 {
        display: grid;
        grid-template-columns: auto auto auto;
        
        padding: 5px 5px 15px 5px;
       
    }
    .Item1 p {
        margin: 5px;
        font-weight: bold;
        font-size: 11px;
    }
    .Grip-Item img {
        height: 128px;
        
    }
}